.container {
  width: calc(100vw - 12rem);
  /* max-width: 500px; */
  margin: 0 auto;
  padding: 3.5rem;
  box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);
  border-radius: 20px;
}

.container h1 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* flex-direction: column; */
}

.description {
  flex-basis: 100%;
  background: tomato;

}

.status {
  flex-grow: 2;
  flex-basis: calc(((100% / 3) * 2) - 1rem);
  background: tomato;

}

.date {
  flex-grow: 1;
  flex-basis: calc((100% / 3) - 1rem);
  background: tomato;
}

.teste {
  flex-grow: 1;
  flex-basis: calc((100% / 2) - 1rem);
  background: tomato;
}